# Ignore everything
/*

# But not these files...
!.gitignore
!.bash_profile
!.bashrc
!.fehbg
!.vimrc
!.xinitrc
!.Xresources

!README.md

#Ignore .config folder
!/.config
/.config/*

# But not these files...
!/.config/i3/
!/.config/dunst/
!/.config/mutt/
!/.config/neofetch/
!/.config/nnn/
!/.config/ranger/
!/.config/sound/
!/.config/sxhkd/
!/.config/Thunar/
!/.config/compton.conf/
!/.config/mimeapps.list/
