# Ignore everything
/*

# But not these files...
!.gitignore
!.env
!.bash_profile
!.bashrc
!.vimrc
!.xinitrc
!.Xresources

!README.md

# Ignore .config folder
!/.config
/.config/*

# But not these files...
!/.config/i3/
!/.config/gtk-2.0/
!/.config/git/
!/.config/dunst/
!/.config/mutt/
!/.config/neofetch/
!/.config/nnn/
!/.config/ranger/
!/.config/sound/
!/.config/sxhkd/
!.config/Thunar/
!/.config/compton.conf/
!/.config/mimeapps.list
!/.config/env

/.config/ranger/bookmarks
/.config/ranger/history
/.config/Thunar/accels.scm

# Ignore everything in .local folder except
!/.local/
/.local/*
/.local/scripts
/.local/sysprog
