! ---------- urxvt settings ---------- !
!
!
URxvt.perl-ext-common: default, selection-to-clipboard, clipboard, resize-font
! Disable ISO 14755 unicode input so we can use Ctrl-Shift bindings
URxvt.iso14755:        false
URxvt.iso14755_52:     false

! Disable Ctrl-Alt-c & Ctrl-Alt-v bindings (optional)
URxvt.keysym.C-M-c:    builtin-string:
URxvt.keysym.C-M-v:    builtin-string:

URxvt.keysym.C-S-0x43: eval:selection_to_clipboard
URxvt.keysym.C-S-0x56: eval:paste_clipboard

URxvt.keysym.C-Down:  resize-font:smaller
URxvt.keysym.C-Up:    resize-font:bigger

URxvt.font: 		xft:IBM Plex Mono:pixelsize=16
URxvt.scrollBar: 	false
URxvt.termName:  	rxvt
URxvt.internalBorder:   10 


! ---------- generic colors---------- !
! 
! 
! Nightfire color scheme
! special
*.foreground:   #e5e7e6
*.background:   #131926
*.cursorColor:  #e5e7e6

! black
*.color0:       #262b35
*.color8:       #262b35

! red
*.color1:       #f43434
*.color9:       #f43434

! green
*.color2:       #e94b4b
*.color10:      #e94b4b

! yellow
*.color3:       #de935f
*.color11:      #de935f

! blue
*.color4:       #81a2be
*.color12:      #81a2be

! magenta
*.color5:       #c56ae3
*.color13:      #c56ae3

! cyan
*.color6:       #dd6363
*.color14:      #dd6363

! white
*.color7:       #707880
*.color15:      #707880

! ---------- font settings ---------- !
!
!
Xft.antialias:  1
Xft.autohint:   0
Xft.dpi:        96
Xft.hinting:    0
Xft.hintstyle:  hintnone
Xft.lcdfilter:  lcddefault
Xft.rgba:       rgb
