! ---------- urxvt settings ---------- !
!
!
URxvt.perl-ext-common: default, selection-to-clipboard, clipboard, resize-font
! Disable ISO 14755 unicode input so we can use Ctrl-Shift bindings
URxvt.iso14755:        false
URxvt.iso14755_52:     false

! Disable Ctrl-Alt-c & Ctrl-Alt-v bindings (optional)
URxvt.keysym.C-M-c:    builtin-string:
URxvt.keysym.C-M-v:    builtin-string:

URxvt.keysym.C-S-0x43: eval:selection_to_clipboard
URxvt.keysym.C-S-0x56: eval:paste_clipboard

URxvt.keysym.C-Down:  resize-font:smaller
URxvt.keysym.C-Up:    resize-font:bigger


URxvt.font: 		xft:DejaVuSansMono:pixelsize=17
URxvt.scrollBar: 	false
URxvt.termName:  	rxvt
URxvt.internalBorder:   5 


! ---------- generic colors ---------- !
! 
!
! special
*.foreground:   #919191
*.background:   #000000
*.cursorColor:  #919191

! black
!
*.color0:       rgba:2000/2000/2000/cccc
!*.color8:       rgba:2000/2000/2000/cccc
!*.color0:       #303030
*.color8:       #5e5e5e

! red
*.color1:       #d85757
*.color9:       #e84d4d

! green
*.color2:       #8bca99
*.color10:      #8bca99

! blue
*.color3:       #eee8a9
*.color11:      #feeeaa


! yellow
*.color4:       #6f8ec2
*.color12:      #597cb6

! magenta
*.color5:       #bb8ec4
*.color13:      #dba4e0

! cyan
*.color6:       #729db7
*.color14:      #5192b4

! white
*.color7:       #c6c6c6
*.color15:      #ffffff

URxvt.depth: 32
URxvt.background: rgba:2000/2000/2000/cccc


! ---------- font settings ---------- !
!
!
Xft.antialias:  1
Xft.autohint:   0
Xft.dpi:        96
Xft.hinting:    0
Xft.hintstyle:  hintnone
Xft.lcdfilter:  lcddefault
Xft.rgba:       rgb
