! ---------- urxvt settings ---------- !
!
!
URxvt.perl-ext-common: default, selection-to-clipboard, clipboard, resize-font
! Disable ISO 14755 unicode input so we can use Ctrl-Shift bindings
URxvt.iso14755:        false
URxvt.iso14755_52:     false

! Disable Ctrl-Alt-c & Ctrl-Alt-v bindings (optional)
URxvt.keysym.C-M-c:    builtin-string:
URxvt.keysym.C-M-v:    builtin-string:

URxvt.keysym.C-S-0x43: eval:selection_to_clipboard
URxvt.keysym.C-S-0x56: eval:paste_clipboard

URxvt.keysym.C-Down:  resize-font:smaller
URxvt.keysym.C-Up:    resize-font:bigger

URxvt.font: 		xft:IBM Plex Mono:pixelsize=16
URxvt.scrollBar: 	false
URxvt.termName:  	rxvt
URxvt.internalBorder:   10 


! ---------- generic colors---------- !
! 
! 
! Nightfire color scheme
! special
*.foreground:   #7ea2b4
*.background:   #161b1d
*.cursorColor:  #7ea2b4

! black
*.color0:       #161b1d
*.color8:       #5a7b8c

! red
*.color1:       #d22d72
*.color9:       #d22d72

! green
*.color2:       #568c3b
*.color10:      #568c3b

! yellow
*.color3:       #8a8a0f
*.color11:      #8a8a0f

! blue
*.color4:       #257fad
*.color12:      #257fad

! magenta
*.color5:       #5d5db1
*.color13:      #5d5db1

! cyan
*.color6:       #2d8f6f
*.color14:      #2d8f6f

! white
*.color7:       #7ea2b4
*.color15:      #ebf8ff

! ---------- font settings ---------- !
!
!
Xft.antialias:  1
Xft.autohint:   0
Xft.dpi:        96
Xft.hinting:    0
Xft.hintstyle:  hintnone
Xft.lcdfilter:  lcddefault
Xft.rgba:       rgb
